* {
    box-sizing: border-box;
}

body {
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    display: flex;
    margin: 0;
}

.btn {
    font-family: "Poppins", sans-serif;
}
