* {
    font-family: "Poppins", sans-serif;
 }

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

header {
    color: #facade;
    font-size: 130%;
    position: relative;
    padding: 40px 15px;
    text-align: center;
    margin: 0;
}

header .big_poo {
    margin: 0;
    z-index: -1;
    position: absolute;
    transform: translateX(-50%);
    width: 100vw;
    height: 160px;
}

.assignments {
    padding: 15px;
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
}
