
 * {
    font-family: "Poppins", sans-serif;
 }

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

.t1 {
    top: 0;
    position: absolute;
    font-size: 40px;
}

.t2 {
    top: 50px;
    position: absolute;
}

.t3 {
    top: 50px;
    position: absolute;
    font-size: 48px;
}

.assignments {
    position: absolute;
    top: 160px;
    left: 0;
    justify-content: left;
    font-size: 18px;
}
