* {
    font-family: "Poppins", sans-serif;
 }

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

header {
    align-items: center;
    margin: 0 auto;
    color: #facade;
    font-size: 130%;
    position: relative;
    padding: 40px 15px;
    text-align: center;
}

header img {
    z-index: -1;
    position: absolute;
    transform: translate(-50%, -147px);
    width: 100vw;
    height: 200px;
}

header h1 {
    justify-content: center;
    margin: 0;
}

header h5 {
    justify-content: center;
    font-size: 10px;
    margin: 0;
}

.assignments {
    position: absolute;
    padding: 15px;
    margin: 0 auto;
    top: 200px;
    width: 800px;
    max-width: 100%;
}

.assignments h2 {
    position: relative;
    font-size: 32px;
}

.assignments p {
    position: relative;
    font-size: 18px;
}

.assignments img {
    position: relative;
    display: block;
    margin: 30px auto;
    border: 3px solid black;
}

.assignments button {
    position: relative;
    display: block;
    margin: 30px auto;
    padding: 12px 30px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid black;
    background-color: #facade;
}
