* {
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    margin: 0;
}

.container {
    width: 90vw;
    display: flex;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #facade;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
}

.panel.active {
    flex: 5;
}

.panel h3 {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
}
