:root {
    --primary-color: rgb(48, 51, 107);
    --secondary-color: #be2edd;
    --modal-duration: 1s;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
}

nav {
    background-color: var(--primary-color);
}
